div {
    width: 400px;
    height: 90px;
    position: static;
}

#div1 {
    background-color: white;
}

#div2 {
    background-color: blue;
}

#div3 {
    background-color: red;
}

#maindiv {
    border: 2px solid black;
    height: 270px;
    position: fixed;
}